@page "/Dashboard/Albums/Create"
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Album</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Album" OnValidSubmit="AddAlbum" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="Album.Name" class="form-control" /> 
                <ValidationMessage For="() => Album.Name" class="text-danger" /> 
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/Dashboard/Albums">Back to List</a>
</div>

@code {
    private Album Album { get; set; } = new();

    private async Task AddAlbum()
    {
        using var context = DbFactory.CreateDbContext();
        context.Albums.Add(Album);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/Dashboard/Albums");
    }
}
